{% extends parent_template|default:"organizer/base.html" %}
{% load static %}

{% block title %}
{{ block.super }}  - {{ miscfile.name|title }}
{% endblock %}

{% block content %}

<h2> Download Misc List<!-- name of download List --> </h2>
    <div class="col-lg-8 d-lg-block">

    </div>
        <ul>
            <!-- list of startups related to tag-->
            <div class="row">
                {% for file in miscfile_list %}

                {% if forloop.counter|divisibleby:4 %}
                <div class="col-xs-12 shelf" style="column-fill:balance;"></div>
                {% endif %}
                    <decrypt>
                        <a class="shelfurl" style="position:relative;width:100%"href="media/otherfiles/{{ file.id }}">
                                <span data-title="{{ file|title }}">
                                <img src="{% static 'img/riddler.jpg' %}" width="100" height="150" style="background-color:steelblue;position:relative;" class="img-responsive comicBook" alt="" />
                                <h2 class="comicBookTitle">{{ file|title}}</h2>
                                </span>
                        </a>
                    </decrypt>


                {% empty %}
                <li><em>There Are Currently No Miscellaneous Downloads Available</em></li>
                {% endfor %}
                <div class="col-xs-12 shelf" style="column-fill:balance;"></div>
            </div>
        </ul>
{% endblock %}